click==6.6
colorama==0.3.7
coverage==4.1
coveralls==1.1
Django==1.9.6
docopt==0.6.2
Flask==0.11.1
Flask-GoogleMaps==0.2.0
functools32==3.2.3.post2
future==0.15.2
geopy==1.11.0
gpsoauth==0.3.0
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
mercurial==3.7.3
ordereddict==1.1
protobuf==2.6.1
pycryptodomex==3.4.2
python-dotenv==0.5.1
PyYAML==3.11
requests==2.10.0
s2sphere==0.2.4
vboxapi==1.0
virtualenv==15.0.1
Werkzeug==0.11.10
